body {
	background: url(../img/bg.png) repeat;
}

footer {
   position:absolute;
   width:100%;
   height:60px;   /* Height of the footer */
}

.footer{
	background: rgba(149, 149, 137, 0.15);
	border: 1px solid #d2d2c4;
}

.navbar-default{
	background-color: #fafaf6;
	margin-top: 10px;
	-webkit-box-shadow: 0px 1px 2px #cccccc;
	-moz-box-shadow: 0px 1px 2px #cccccc;
	box-shadow: 0px 1px 2px #cccccc;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.post-content {
    bottom:1px;
    width: 100%;
    left:0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-top: 1px black solid;
}

.thumbnail{
	height: 500px;
    position:relative;
    border:3px solid white;
    
}
.thumbnail img{
	width: 100%;
	height: 500px;
    
}

.thumbnail .caption {
	color: white;
}

.news{
	width: 100%;
	height: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.news img{
	width: 100%;
}	

.nius{
	color: #717165;
	float: left;
	padding: 10px;
	display: inline;
	background: #fafaf6;
	border: 5px solid #e9e9e4;
	margin: 3px;
}

.title{
	margin-top: -5px;
	margin-left: -10px;
	padding: 1px 0 5px 1px;
	border-bottom: 1px solid #ecece9;
	text-align: center;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-top-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-top-left: 0px;
	-moz-border-radius-bottom-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-transition: width 0.3s linear, background 0.2s ease;
	-moz-transition: width 0.3s linear, background 0.2s ease;
	-o-transition: width 0.3s linear, background 0.2s ease;
	transition: width 0.3s linear, background 0.2s ease;
}

.title:hover {
  width: 104%;
  color: #dc692e;
  background: #d0d0c6;
  background: rgba(208, 208, 198, 0.5);
}